body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #636363;
}

.titulo
{
	font-family: 'Roboto', sans-serif;
	color: #004085;
}

.gracias
{
	font-family: 'Satisfy', sans-serif;
}

.subtitulo
{
	color: gray;
}

h3, h4
{
	color: gray;
	display: inline-block;
}

ul
{
	padding-left: 0;
}

ul > li
{
	/*list-style-type: none;*/
}

.sidebar
{
	font-size: 0.9em;
	padding: 1em;
	background-color: #2196f3;
	color: white;	
}

.fa
{
	/*width: 62px;*/
	/*height: 62px;*/
	color: #004085;
	font-size: 2em;
	/*border-radius: 50%;*/
	/*border: 3px solid #2196f3;*/
	/*padding: 0.5em;*/
}

.sidebar .fa
{
	/*width: 62px;*/
	/*height: 62px;*/
	color: white;
	/*font-size: 2em;*/
	/*border-radius: 50%;*/
	/*border: 3px solid #2196f3;*/
	/*padding: 0.5em;*/
}

section
{
	/*margin-bottom: 2em;*/
	/*height: 980px;*/
	/*min-height: 980px;*/
}

.imagen
{
	padding-top: 4em;
	text-align: center;
}

.foto > img
{
	width: 80%;
	border-radius: 50%;
	border: 5px solid white;

}

@media print
{    
	section
	{		
		/*display: block;*/
		/*height: 940px !important;*/
		min-height: 980px !important;
	}

	.sidebar
	{
		height: 950px;
	}
}